<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longfor.longjian.houseqm.dao.HouseQmCheckTaskSquadMapper">
    <resultMap id="BaseResultMap" type="com.longfor.longjian.houseqm.po.HouseQmCheckTaskSquad">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="project_id" jdbcType="INTEGER" property="projectId" />
        <result column="task_id" jdbcType="INTEGER" property="taskId" />
        <result column="squad_type" jdbcType="INTEGER" property="squadType" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
        <result column="delete_at" jdbcType="TIMESTAMP" property="deleteAt" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, project_id, task_id, squad_type, name, create_at, update_at, delete_at
    </sql>
    <select id="selectByTaskIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from house_qm_check_task_squad
        where task_id in
        <foreach close=")" collection="idList" index="index" item="id" open="(" separator=",">
            #{id}
        </foreach>
        <if test="deleted =='false'">
            and delete_at is null
        </if>
    </select>
    <select id="searchByInId" resultMap="BaseResultMap">
        select
        id, project_id, task_id, squad_type, `name`, create_at, update_at, delete_at
        from house_qm_check_task_squad
        where
        id in
        <foreach close=")" collection="squadIds" index="index" item="item" open="(" separator=",">
            #{item}
        </foreach>
        and delete_at is null
    </select>
    <insert id="add" parameterType="com.longfor.longjian.houseqm.po.HouseQmCheckTaskSquad" useGeneratedKeys="true" keyProperty="id">
insert into house_qm_check_task_squad (project_id, task_id,squad_type,name)
values (#{projectId,jdbcType=INTEGER},
#{taskId,jdbcType=INTEGER},
#{squadType,jdbcType=INTEGER},
#{name,jdbcType=VARCHAR}
)
</insert>


</mapper>