<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longfor.longjian.houseqm.dao.stat.StatHouseQmProjectUserWorkloadCheckerDailyStatMapper">
  <resultMap id="BaseResultMap" type="com.longfor.longjian.houseqm.po.stat.StatHouseQmProjectUserWorkloadCheckerDailyStat">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="category_cls" jdbcType="INTEGER" property="categoryCls" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="issue_count" jdbcType="INTEGER" property="issueCount" />
    <result column="record_count" jdbcType="INTEGER" property="recordCount" />
    <result column="issue_check_yes_count" jdbcType="INTEGER" property="issueCheckYesCount" />
    <result column="issue_new_count" jdbcType="INTEGER" property="issueNewCount" />
    <result column="record_new_count" jdbcType="INTEGER" property="recordNewCount" />
    <result column="issue_new_check_yes_count" jdbcType="INTEGER" property="issueNewCheckYesCount" />
    <result column="date_day" jdbcType="VARCHAR" property="dateDay" />
    <result column="date_week" jdbcType="VARCHAR" property="dateWeek" />
    <result column="date_month" jdbcType="VARCHAR" property="dateMonth" />
    <result column="date_quarter" jdbcType="VARCHAR" property="dateQuarter" />
    <result column="date_year" jdbcType="VARCHAR" property="dateYear" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, project_id, category_cls, user_id, issue_count, record_count, issue_check_yes_count, 
    issue_new_count, record_new_count, issue_new_check_yes_count, date_day, date_week, 
    date_month, date_quarter, date_year, update_at
  </sql>
  <select id="selectByExample" parameterType="com.longfor.longjian.houseqm.po.stat.StatHouseQmProjectUserWorkloadCheckerDailyStatExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stat_house_qm_project_user_workload_checker_daily_stat
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="com.longfor.longjian.houseqm.po.stat.StatHouseQmProjectUserWorkloadCheckerDailyStatExample" resultType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from stat_house_qm_project_user_workload_checker_daily_stat
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <resultMap id="BaseResultMap" type="com.longfor.longjian.houseqm.po.stat.StatHouseQmProjectUserWorkloadCheckerDailyStat">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="category_cls" jdbcType="INTEGER" property="categoryCls" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="issue_count" jdbcType="INTEGER" property="issueCount" />
    <result column="record_count" jdbcType="INTEGER" property="recordCount" />
    <result column="issue_check_yes_count" jdbcType="INTEGER" property="issueCheckYesCount" />
    <result column="issue_new_count" jdbcType="INTEGER" property="issueNewCount" />
    <result column="record_new_count" jdbcType="INTEGER" property="recordNewCount" />
    <result column="issue_new_check_yes_count" jdbcType="INTEGER" property="issueNewCheckYesCount" />
    <result column="date_day" jdbcType="VARCHAR" property="dateDay" />
    <result column="date_week" jdbcType="VARCHAR" property="dateWeek" />
    <result column="date_month" jdbcType="VARCHAR" property="dateMonth" />
    <result column="date_quarter" jdbcType="VARCHAR" property="dateQuarter" />
    <result column="date_year" jdbcType="VARCHAR" property="dateYear" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, project_id, category_cls, user_id, issue_count, record_count, issue_check_yes_count, 
    issue_new_count, record_new_count, issue_new_check_yes_count, date_day, date_week, 
    date_month, date_quarter, date_year, update_at
  </sql>
  <select id="selectByExample" parameterType="com.longfor.longjian.houseqm.po.stat.StatHouseQmProjectUserWorkloadCheckerDailyStatExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stat_house_qm_project_user_workload_checker_daily_stat
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.longfor.longjian.houseqm.po.stat.StatHouseQmProjectUserWorkloadCheckerDailyStatExample">
    <!--
      WARNING - @mbg.generated
    -->
    delete from stat_house_qm_project_user_workload_checker_daily_stat
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.longfor.longjian.houseqm.po.stat.StatHouseQmProjectUserWorkloadCheckerDailyStatExample" resultType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from stat_house_qm_project_user_workload_checker_daily_stat
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update stat_house_qm_project_user_workload_checker_daily_stat
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.categoryCls != null">
        category_cls = #{record.categoryCls,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.issueCount != null">
        issue_count = #{record.issueCount,jdbcType=INTEGER},
      </if>
      <if test="record.recordCount != null">
        record_count = #{record.recordCount,jdbcType=INTEGER},
      </if>
      <if test="record.issueCheckYesCount != null">
        issue_check_yes_count = #{record.issueCheckYesCount,jdbcType=INTEGER},
      </if>
      <if test="record.issueNewCount != null">
        issue_new_count = #{record.issueNewCount,jdbcType=INTEGER},
      </if>
      <if test="record.recordNewCount != null">
        record_new_count = #{record.recordNewCount,jdbcType=INTEGER},
      </if>
      <if test="record.issueNewCheckYesCount != null">
        issue_new_check_yes_count = #{record.issueNewCheckYesCount,jdbcType=INTEGER},
      </if>
      <if test="record.dateDay != null">
        date_day = #{record.dateDay,jdbcType=VARCHAR},
      </if>
      <if test="record.dateWeek != null">
        date_week = #{record.dateWeek,jdbcType=VARCHAR},
      </if>
      <if test="record.dateMonth != null">
        date_month = #{record.dateMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.dateQuarter != null">
        date_quarter = #{record.dateQuarter,jdbcType=VARCHAR},
      </if>
      <if test="record.dateYear != null">
        date_year = #{record.dateYear,jdbcType=VARCHAR},
      </if>
      <if test="record.updateAt != null">
        update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update stat_house_qm_project_user_workload_checker_daily_stat
    set id = #{record.id,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=INTEGER},
      category_cls = #{record.categoryCls,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      issue_count = #{record.issueCount,jdbcType=INTEGER},
      record_count = #{record.recordCount,jdbcType=INTEGER},
      issue_check_yes_count = #{record.issueCheckYesCount,jdbcType=INTEGER},
      issue_new_count = #{record.issueNewCount,jdbcType=INTEGER},
      record_new_count = #{record.recordNewCount,jdbcType=INTEGER},
      issue_new_check_yes_count = #{record.issueNewCheckYesCount,jdbcType=INTEGER},
      date_day = #{record.dateDay,jdbcType=VARCHAR},
      date_week = #{record.dateWeek,jdbcType=VARCHAR},
      date_month = #{record.dateMonth,jdbcType=VARCHAR},
      date_quarter = #{record.dateQuarter,jdbcType=VARCHAR},
      date_year = #{record.dateYear,jdbcType=VARCHAR},
      update_at = #{record.updateAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>