<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.longjian.houseqm.dao.stat.StatHouseQmProjectUserWorkloadRepairerDailyStatMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.longjian.houseqm.po.stat.StatHouseQmProjectUserWorkloadRepairerDailyStat" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="category_cls" property="categoryCls" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="issue_count" property="issueCount" jdbcType="INTEGER" />
    <result column="issue_assign_no_reform_count" property="issueAssignNoReformCount" jdbcType="INTEGER" />
    <result column="issue_reformed_count" property="issueReformedCount" jdbcType="INTEGER" />
    <result column="issue_new_count" property="issueNewCount" jdbcType="INTEGER" />
    <result column="issue_new_assign_no_reform_count" property="issueNewAssignNoReformCount" jdbcType="INTEGER" />
    <result column="issue_new_reformed_count" property="issueNewReformedCount" jdbcType="INTEGER" />
    <result column="date_day" property="dateDay" jdbcType="VARCHAR" />
    <result column="date_week" property="dateWeek" jdbcType="VARCHAR" />
    <result column="date_month" property="dateMonth" jdbcType="VARCHAR" />
    <result column="date_quarter" property="dateQuarter" jdbcType="VARCHAR" />
    <result column="date_year" property="dateYear" jdbcType="VARCHAR" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, project_id, category_cls, user_id, issue_count, issue_assign_no_reform_count, 
    issue_reformed_count, issue_new_count, issue_new_assign_no_reform_count, issue_new_reformed_count, 
    date_day, date_week, date_month, date_quarter, date_year, update_at
  </sql>
</mapper>